# Python 관련 파일
__pycache__/
*.py[cod]
*$py.class

# 환경 설정 파일 (가상환경)
.env
myvenv/
env/
*.env

# 장고 마이그레이션 캐시 파일
db.sqlite3
*.sqlite3

# 미디어 및 정적 파일 (필요에 따라 조정)
staticfiles/
media/
*.log

# IDE 및 편집기 설정 파일
.vscode/
.idea/
*.swp

# 테스트 및 배포 관련
.coverage
*.py,cover
htmlcov/
*.pid
*.seed
*.tar.gz
*.whl

# Docker 관련 (사용 시)
docker-compose.override.yml
*.dockerfile

# 장고 시크릿 키, 설정 파일
config/settings/local.py
config/settings/dev.py

# 기타
*.bak
*.orig
